{% extends "partials/base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="container mt-3">
    {% for message in messages %}
    {% if message %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endif %}
    {% endfor %}
    <form method="post" action="{% url 'user:user-login' %}" class="form bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        {{ form.as_p }}

            <button name="submit" class="btn btn-success">Log in</button>
        <input type="hidden" name="next" value="{% url 'dashboard:dashboard-index' %}" />
    </form>
    <a href="{% url 'user:password_reset'%}" >Forget password?</a>
</div>
{% endblock content %}